
.Price {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 100px;

  h2 {
    width: 200px;
    font-weight: 500;
    font-size: 16px;
line-height: 24px;
    margin: 80px auto;
    margin-bottom: 35px;
    text-align: center;
  }
}

.slider {
  width: 290px;
  margin: 0 auto;
  position: relative;
}

.button {
display: none;
}

.previous,
.next {
  position: absolute;
  top: 317px;
  z-index: 5;
  right: 0;
  :hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.previous {
  transform: rotate(180deg);
  top: 321px;
  right: auto;
  left:0;
}

@media (min-width: 1024px) {
  .Price {
    h2 {
      width: 100%;
    }
  }

  .slider {
    width: 944px;
  }
  .button {
    display: block;
    width: 384px;
    margin: 0 auto;
  }

  .previous,
  .next {
    top: 341px;
  }

  .previous {
    top: 344px;
  }
}