.Price {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  position: relative;

  h2 {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    margin: 35px auto;
    text-align: center;
  }
}

.slider {
  width: 290px;
  margin: 0 auto;
  position: relative;
}

.button {
  display: none;
}

.previous,
.next {
  position: absolute;
  top: 342px;
  z-index: 5;
  right: 0;
  :hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.previous {
  transform: rotate(180deg);
  top: 346px;
  right: auto;
  left: 0;
}

@media (min-width: 1024px) {
  .Price {
    padding-bottom: 50px;
    h2 {
      width: 100%;
    }
  }

  .slider {
    width: 944px;
  }
  
  .button {
    display: block;
    width: 384px;
    margin: 0 auto;
  }

  .previous,
  .next {
    top: 364px;
  }

  .previous {
    top: 367px;
  }
}
