.Reviews {
  background: #f3f4f5;
  padding-bottom: 53px;
  padding-top: 22px;

  h2 {
    width: 100%;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin: 18px auto;
  }
}

.slider {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 18px 25px;

  img {
    width: 92%;
    margin: 0 2.5%;
  }
}

.previous,
.next {
  position: absolute;
  top: 204px;
  z-index: 5;
  right: 0;
  :hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.previous {
  top: 200px;
  left: 0;
  right: auto;
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .slider {
    img {
      margin: 0 12px 0 14px;
    }
  }

  .Reviews h2 {
    margin-bottom: 50px;
  }

  .previous,
  .next {
    top: 254px;
  }

  .previous {
    top: 250px;
  }
}