.About {
  position: relative;
  margin-bottom: 100px;
  h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin: 70px 0 28px 0;
    text-align: center;
    width: 100%;
  }

}

.text {
  font-size: 18px;
  line-height: 35px;
  margin-bottom: 35px;
  
  @media(min-width: 1024px) {
    width: 550px; 
    margin-right: 4px; 
    
  }
  a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      opacity: 0.5;
    }
  }

  .directions {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }
}

.button {
  display: none;
  @media(min-width: 1024px) {
    display: block; 
    width: 352px;
    margin: 70px auto;
  }
}
