.Calendar {
  width: 290px;
  min-height: 350px;  
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 13px;
  line-height: 35px;
  position: relative;

  a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 35px;
    height: 35px;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    margin: 5px 3px;
    font-size: 16px;
    line-height: 35px;
    opacity: 0.3;
    &:hover {
      cursor: default;
    }
  }

  .previous,
  .next {
    position: absolute;
    right: 0;
    :hover {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .previous {
    transform: rotate(180deg);
    right: 95%;
    margin-top: 9px;
  }



  .past {
    opacity: 0.5;
  }

  .present {
    opacity: 1;
    &:hover {
      cursor: pointer;
      font-weight: bold;
      box-shadow: 2px 6px 10px 0 #868686;
    }
  }

  .past + .present {
    border: 2px solid black;
    font-weight: bold;
  }

  .nextMonth {
    opacity: 0.3;
  }

  .future {
    opacity: 1;
    &:hover {
      cursor: pointer;
      font-weight: bold;
      box-shadow: 2px 6px 10px 0 #868686;
    }
  }
}

.month {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
}

.week {
  width: 35px;
  height: 20px;
  margin: 5px 3px;
  text-align: center;
  vertical-align: bottom;
}

@media (min-width: 1024px) {
  .Calendar {
    width: 360px;
    margin-bottom: 10px;
    min-height: 420px;
    a {
      width: 45px;
      height: 45px;
    }
  }

  .week {
    width: 45px;
  }
}
