.PriceItem {
  display: flex;
  flex-direction: column;
  padding: 0 10px 40px 10px;

  h3 {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    align-items: center;
    text-transform: uppercase;
    margin: 15px 0;
    padding-top: 25px;
  }

  p {
    font-size: 14px;
    line-height: 25px;
  }
}

.list {
  min-height: 50px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.listItem {
  width: 135px;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  list-style: none;
}

.more {
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: transparent;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  padding: 5px;
  width: 112px;
  margin: 0 auto;
  &:hover {
    cursor: pointer;
    border: 1px solid #ffffff;
    background-color: #000000;
    color: #ffffff;
  }
}

.slider {
  order: -1;
  img {
    height: 292px;
    margin-bottom: 10px;
  }
}

p.rent {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.description {
  position: relative;
}

.gradient {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  span {
    display: block;
    top: 0;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(transparent 0%, white 75%);
  }
  p {
    position: relative;
    max-height: 100px;
    overflow: hidden;
  }
}

.noGradient {
  display: flex;
  flex-direction: column;
  .more {
    margin: 0 auto;
  }
}

@media (min-width: 1024px) {
  .slider {
    padding-bottom: 20px;
  }

  .PriceItem {
    margin: 0 10px;
    padding-bottom: 60px;

    &:hover {
      cursor: pointer;
      box-shadow: 0 0 10px 0 grey;
    }

    .imgWrapper {
      width: 100%;
      padding-bottom: 12px;

      img {
        width: 97%;
        margin: 0 1.5%;
      }
    }
  }
}
