.Icons {
  display: flex;
  justify-content: center;
}
.Icon {
  display: block;
  width: 29px;
  height: 29px;
  margin: 0 7px;
  margin-top: 0;
  font-size: 0;

  a {
    display: block;
  }

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }

}
$Socials__clses: "instagram", "viber", "facebook", "telegram", "gps";

@each $item in $Socials__clses {
  .#{$item} {
    background-image: url("/img/Socials__#{$item}.svg");
    background-size: contain;
    background-repeat: no-repeat;
    // &:hover {
    //   // background-image: url("/img/Socials__#{$item}--color.svg");
    // }
  }
}

.none {
  display: none;
}

@media (min-width: 1024px) {
  .Icons {
    align-items: center;

    .Icon {
      margin-bottom: 0;
    }
  }
}
