.Contacts {
  display: flex;
  flex-direction: column;
  h2 {
    width: 100%;
    text-align: center;
    margin-top: 60px;
  }
}

.icons {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.last {
  order: 1;
  margin-top: 30px;
  margin-bottom: 10px;
}

.calendar {
  width: 100%;
  display: flex;
  flex-direction: column;

  p {
    font-weight: 600;
    font-size: 18px;
    line-height: 35px;
  }
}

.map {
  width: 944px;
  margin: 0 auto;
  display: flex;
  iframe {
    width: 100%;
    height: 320px;
    order: 1;
    overflow: hidden;
  }
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 35px;
  color: #000000;
  text-decoration: none;
}

.booking {
  font-weight: 600;
  font-size: 18px;
  line-height: 35px;
  text-align: center;
}

@media (min-width: 1024px) {
  .Contacts {
    h2 {
      margin-bottom: 50px;
    }
  }

  .icons {
    width: 30%;
    margin: 1.5%;
  }

  .last {
    order: initial;
  }

  .booking {
    width: 282px;
    order: 1;
    margin-left: 40px;
  }

  .calendar {
    width: 400px;
  }

  .map {
    iframe {
      width: 520px;
      height: 340px;
      margin: -350px 0 90px auto;
      border: 2px solid #000000;
    }
  }
}
